@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('./variables.css');

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: "Fredoka", sans-serif;
}

header {
    display: flex;
    background-color: var(--secondary-bg-color);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    justify-content: center;
    padding: 3%;
}

h1 {
    font-size: 2.1rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
}

.main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 0%;
    padding: 3% 2%;
    text-align: center;
    span {
        font-size: 1.1rem;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 5%;
    }

    .main-title-word {
        font-size: 1.7rem;
        text-decoration: underline;
    }
}

.main-desc {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3% 2%;
    margin-bottom: 5%;
    span {
        margin-bottom: 5%;
    }

    img {
        position: relative;
        top: 2px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5%;

    div {
        margin-bottom: 5%;
    }
}

.demoWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.money-block {
    width: var(--block-size);
    height: var(--block-size);
    background-color: #2669fa;
    padding: 0px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.tenPoorest {
    flex: 0 0 auto;
    width: calc(var(--block-size)*2.1);
    height: calc(var(--block-size)*2.1);
}

.median {
    flex: 0 0 auto;
    width: calc(var(--block-size)*13);
    height: calc(var(--block-size)*13);
}

.tenRichest {
    flex: 0 0 auto;
    width: calc(var(--block-size)*27);
    height: calc(var(--block-size)*27);
}

.fiveRichest {
    flex: 0 0 auto;
    width: calc(var(--block-size)*32.1);
    height: calc(var(--block-size)*32.1);
}

.oneRichest {
    flex: 0 0 auto;
    width: calc(var(--block-size)*47.3);
    height: calc(var(--block-size)*47.3);
}

.oneBillion {
    flex: 0 0 auto;
    width: 345px;
    height: calc(var(--block-size)*2898.55);
    position: relative;
}

.oneBillion-end {
    position: absolute;
    bottom: 0px;
}

.information-patience {
    position: absolute;
    top: 15%;

}

.information-reminder {
    position: absolute;
    top: 30%;
    flex-wrap: nowrap;
    height: 350px;
    gap: 30px;
}

.reminderBlock {
    background-color: brown;
}

.information-SMIC {
    position: absolute;
    top: 45%;
}

.information-budgetEduc {
    position: absolute;
    top: 60%;
}

.educationBlock {
    position: absolute;
    top: 60.01%;
    background-color: brown;
    /* width: 300px;
    height: 196667px; */
    width: 250px;
    height: 236000px;

    &.info {
        padding: 0px;
        margin-left: 20%;
    }
}

.educationBlock-end{
    position: absolute;
    bottom: 0px;
}

.bernard {
    width: 345px;
    height: 640870px;
    position: relative;
}

.ruler {
    background-image: url('../assets/ruler.svg');
    background-repeat: repeat-y;
    background-position: 0px 0px;
}

.ruler::before{
    content: "";
    position: absolute;
    top: -50%;
    left: -50%;
    z-index: 1;
    background: url('../assets/ruler.svg');
    transform: rotate(90deg);
}



.wrapper-arrow {
    padding: 0px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 75px;
    height: 120px;
}

.arrow-down {
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    color: var(--main-text-color);
    border-radius: 45%;
}

.arrow-down:hover {
    cursor: pointer;
    background-color: rgba(27, 27, 27, 0.5);
}

.arrow-up{
    padding: 0px;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    color: var(--main-text-color);
    border-radius: 45%;
}

.arrow-up:hover {
    cursor: pointer;
    background-color: rgba(27, 27, 27, 0.5);
}

.counter { 
    display: block;
    position: fixed;
    top: 10px;
    left: 50%;
    /* right: 50%; */
    z-index: 100;
    overflow: visible;
}

.info {
    padding-left:  25%;
    padding-right: 5%;
}