@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');
@import url('./variables.css');

body {
    background-color: var(--main-bg-color);
    color: var(--main-text-color);
    font-family: "Fredoka", sans-serif;
}

header {
    display: flex;
    background-color: var(--secondary-bg-color);
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    justify-content: center;
    padding: 3%;
}

h1 {
    font-size: 2.1rem;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 3% 2%;

    div {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        padding: 3% 2%;
        align-items: center;
    }
}

.main-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 5% 0%;
    padding: 3% 2%;
    text-align: center;
    span {
        font-size: 1.1rem;
    }

    h2 {
        font-size: 1.5rem;
        margin-bottom: 5%;
    }

    .main-title-word {
        font-size: 1.7rem;
        text-decoration: underline;
    }
}

.main-desc {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 3% 2%;

    span {
        margin-bottom: 5%;
    }

    img {
        position: relative;
        top: 2px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    gap: 5%;

    div {
        margin-bottom: 5%;
    }
}

.money-block {
    width: var(--block-size);
    height: var(--block-size);
    margin: 5px;
    background-color: #2669fa;
    padding: 0px;
}

.tenPoorest {
    flex: 0 0 auto;
    width: calc(var(--block-size)*2.1);
    height: calc(var(--block-size)*2.1);
}

.median {
    flex: 0 0 auto;
    width: calc(var(--block-size)*13);
    height: calc(var(--block-size)*13);
}

.tenRichest {
    flex: 0 0 auto;
    width: calc(var(--block-size)*27);
    height: calc(var(--block-size)*27);
}

.fiveRichest {
    flex: 0 0 auto;
    width: calc(var(--block-size)*32.1);
    height: calc(var(--block-size)*32.1);
}

.oneRichest {
    flex: 0 0 auto;
    width: calc(var(--block-size)*47.3);
    height: calc(var(--block-size)*47.3);
}

.oneBillion {
    flex: 0 0 auto;
    width: 345px;
    height: calc(var(--block-size)*2898.55);
}

.information {
    position: absolute;
    top: 50%;

}

.bernard {
    width: 345px;
    height: 592927.53px;
    position: relative;
}

.arrowDown {
    padding: 0px;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 40px;
    color: var(--main-text-color);
    border-radius: 45%;
    bottom: 15px;
    right: 15px;
}

.arrowDown:hover {
    cursor: pointer;
    background-color: rgba(27, 27, 27, 0.5);
}